<!-- PROJECTS -->

{{#if content.projects}}
{{#if projectSlides}}
<div class="row text-center pt-7-rem projects scroll-section" id="projects">
    <div class="col-12">
        <h5 class="text-uppercase main-title mb-5">{{{content.projects.title}}}</h5>
        <div class="w-75 mx-auto">
            {{{content.projects.text}}}
        </div>

        <!-- ADD DYNAMIC HERE ! -->

        <div class="projects-controls">
            {{{allYears projectSlides}}}
        </div>

        <div class="col-12 carousel-container">
            <i class="fas fa-angle-left arrow-prev"></i>
            <i class="fas fa-angle-right arrow-next"></i>
            <div class="projects-carousel">

                {{#each projectSlides}}
                <div class="news-box text-center" data-year="{{getYear date}}">
                    <a href="/projects#{{{slug}}}">

                        <div class="img-container" style="background: url({{{image.secure_url}}}) no-repeat center center; background-size: cover;"></div>
                        <h4 class="text-uppercase">{{{title}}}</h4>
                    </a>
                </div>
                {{/each}}

            </div>
        </div>
    </div>
</div>
{{/if}}
{{/if}}